*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.btn{
    padding: 10px 20px;
    background-color: black;
    color: white;
    broder:none;
    border-radius: 20px;
cursor: pointer;
    
}
